



<ng-container *ngIf="auth.isAuthenticated$ | async; else logoPublico">
    <div class="zonelogo" >
        <img  class="img-fluid" style="width: 500px;" src="./assets/imagenes/logoSistemFuegoModuloTaller.img" alt="" srcset="">
    </div>
  </ng-container>

  <ng-template #logoPublico>
    <div class="zonelogo" >
        <img class="img-fluid " style="width: 500px;" src="./assets/imagenes/logoSistemFuego.img" alt="" srcset="">
    </div>
  </ng-template>




  <nav class="navbar navbar-expand-lg navbar-dark colorBtnsBar">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


        <a class="navbar-brand" href="#">
          <img src="./assets/imagenes/logo.img" alt="" width="30" height="24">
        </a>
    



      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="navbar-brand btn btn-outline-light" [routerLink]="[ '/homepublico' ]"  href="#">Home</a>
          </li>

          <li class="nav-item">
            <a class="navbar-brand btn btn-outline-light" *ngIf="auth.user$ | async as user" [routerLink]="[ '/serviceorder' ]" href="#">Orden de Servicio</a>
          </li>

          <li class="nav-item">
            <a class="navbar-brand btn btn-outline-light" *ngIf="auth.user$ | async as user" [routerLink]="[ '/reportservice' ]" href="#">Informe Servicio</a>
          </li>

        </ul>
        <form class="d-flex">
 
            <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
              <a href=""  class="navbar-brand btn btn-outline-light" (click)="auth.logout({ returnTo: '/homepublico' })">
                Cerrar Sesión
              </a>
          </ng-container>
      
          <ng-template #loggedOut>
            <button class="navbar-brand btn btn-outline-light" (click)="this.auth.loginWithRedirect({ appState: { target: '/serviceorder' }})">Iniciar Sesión</button>
          </ng-template>

        



        </form>
      </div>
    </div>
  </nav>


 













  